{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class='main'>
    <h1 class='main__title'>To-do list</h1>

    <div class='main__input-bar'>
        <input
            type='text'
            class='main__input-bar__input'
            placeholder='Введіть задачу...'
        />
        <button class='main__input-bar__button'>
            Додати
        </button>
    </div>

    <div class='main__items-list'>

      <div class='main__items-list__item'>
        <div class='main__items-list__item__info'>
            <span>1. </span>
            <span>Some placeholder content in a paragraph below the
                heading and date.</span>
        </div>
        <div class="main__items-list__item__button-set">
            <button class="main__items-list__item__button-set__button main__items-list__item__button-set__button--check">
            </button>
            <button class="main__items-list__item__button-set__button main__items-list__item__button-set__button--remove" >
            </button>
        </div>
      </div>

      <div class='main__items-list__item'>
        <div class='main__items-list__item__info main__items-list__item__info--light'>
          <span>2. </span>
          <span>Some placeholder content in a paragraph below the
            heading and date.</span>
        </div>
        <div class="main__items-list__item__button-set">
            <button class="main__items-list__item__button-set__button main__items-list__item__button-set__button--checked">
            </button>
            <button class="main__items-list__item__button-set__button main__items-list__item__button-set__button--remove" >
            </button>
        </div>
      </div>

     <div class='main__items-list__item'>
        <div class='main__items-list__item__info'>
          <span>3. </span>
          <span>Some placeholder content in a paragraph below the
            heading and date.</span>
        </div>
        <div class="main__items-list__item__button-set">
            <button class="main__items-list__item__button-set__button main__items-list__item__button-set__button--check">
            </button>
            <button class="main__items-list__item__button-set__button main__items-list__item__button-set__button--remove" >
            </button>
        </div>
      </div>

    </div>
  </div>
</div>

<template id="item">
      <div class='main__items-list__item'>
        <div class='main__items-list__item__info'>
            <span>1. </span>
            <span>Some placeholder content in a paragraph below the
                heading and date.</span>
        </div>
        <div class="main__items-list__item__button-set">
            <button class="main__items-list__item__button-set__button main__items-list__item__button-set__button--check">
            </button>
            <button class="main__items-list__item__button-set__button main__items-list__item__button-set__button--remove" >
            </button>
        </div>
      </div>
</template>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}